<h2>The Post Create Component</h2>
<!--We want to imlement create post
for that
<input type = "text">
How does browser kow what to do when we click on save button.
Event Binding: angular feature, declraive way,
add method in the ts class and add listener here.

Outputting??
1. storing is a property, a variable in a class.
String interpolation
<p>{{put anythibng here method name or property name}}</p>
other ways on outputting content n the screen

2. dummy starting text
3. no content in the text area
<textarea rows="6">{{ newPost}}</textarea>
4. using property of javascript object(textarea)
<textarea rows="6" value="Test"></textarea>
value binding in property value
<textarea rows="6" [value]="'Test'"></textarea>
<textarea rows="6" [value]="newPost"></textarea>
  5. string interpolation if output between opening and closing tags.
property binding drevtly on the elements for outputting the data.
<textarea rows="6" [value]="newPost"></textarea>
<hr>
<button (click)="onAddPost()">Save Post</button>
<p>{{ newPost }}</p>


getting user input
6.
there are 2 ways to do this.
1. local reference
adding a hashtag name
<textarea rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save Post</button>
<p>{{ newPost }}</p>
2. called as 2-way binding
setting the value and getting the reference
setting plus reading
directives
ngModel by default wont work

Note: Core features: Event binding, String interpolation,
property binding, Two way binnding

Check the api dopcimentation for the list oif stuff yiou can coinfiugure.
 basic stuff done=
 <mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button mat-raised-button (click)="onAddPost()">Save Post</button>
</mat-card>
<p>{{ newPost }}</p>

-->

<mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button mat-raised-button (click)="onAddPost()">Save Post</button>
</mat-card>
<p>{{ newPost }}</p>
