<!--
Layout-> expension panel
elapsable pael to display some content

multiple expansoin panels in order to show multiple comments
we dont wannt to hardode that nnumber, it can be 4,5,..
we need some kind of dynamic looping through that code.
-> Structural Directives
instructoins you place on elements
soeminstructions that apply on one element e.g. ngModel
some structurely change the rendered ehtml code, and that is the case here.
special directive- ngFor - render a list of data dynamically
but we dont want to show hardcoded data,
we want to show what has been receieved from the post ctreate component.
if posts is empty then no looping, use *ngIf
it wont be part of the dom
what to pass in *ngIf,

-->

<mat-accordion multi="true" *ngIf="posts.length > 0" >
  <mat-expansion-panel *ngFor="let post of posts">
  <mat-expansion-panel-header>
    {{ post.title }}
  </mat-expansion-panel-header>
  <p>{{ post.content }}</p>
  <mat-action-row>
    <button mat-button color="primary">EDIT</button>
    <button mat-button color="warn">DELETE</button>
  </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>
